@model Buoi3.Models.StudentViewModel

<h2>Kết quả đăng ký</h2>

<p>
    Cảm ơn bạn <strong>@Model.MSSV</strong> - <strong>@Model.HoTen</strong>
    đã đăng ký chuyên ngành <strong>@Model.ChuyenNganh</strong>
</p>

<p>
    Số lượng SV đã đăng ký ngành giống bạn là: <strong>@ViewBag.SoLuong</strong>
</p>

<a href="/Student/Index">← Quay lại đăng ký</a>